name: Close inactive author feedback issues
on:
  schedule:
    - cron: "0 1 * * *"  # run daily
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      actions: write

    steps:
      - uses: actions/stale@v10
        with:
          # issues that haven’t updated in 30 days become stale
          days-before-issue-stale: 30
          # issues labeled stale will be closed 14 days later
          days-before-issue-close: 14
          only-issue-labels: "Needs: Author Feedback"
          stale-issue-label: "stale"
          stale-issue-message: "This issue has been marked as stale because there has been no recent activity. Please provide any additional information or updates if this issue is still relevant. If no further activity occurs, this issue will be closed in 14 days. Thank you for your contributions!"
          close-issue-message: "Closing this issue as inactive. If you still need help, please reply and we can reopen it"
          # don’t process PRs
          days-before-pr-stale: -1
          days-before-pr-close: -1
          repo-token: ${{ secrets.GITHUB_TOKEN }}
