name: Validate Build

on:
  push:
    branches:
      - main
      - 'feature/**'
    paths-ignore: [ '**.md' ]
  pull_request:
    branches:
      - main
      - 'feature/**'
    paths-ignore: [ '**.md' ]

env:
  solution: Microsoft.DurableTask.sln
  config: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Setup .NET 6.0
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0.x'

    - name: Setup .NET from global.json
      uses: actions/setup-dotnet@v3
      with:
        global-json-file: global.json

    - name: Restore dependencies
      run: dotnet restore $solution

    - name: Build
      run: dotnet build $solution --configuration $config --no-restore -p:FileVersionRevision=$GITHUB_RUN_NUMBER

    - name: Test
      run: dotnet test $solution --configuration $config --no-build --verbosity normal

    - name: Pack
      run: dotnet pack $solution --configuration $config --no-build

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: pkg
        path: out/pkg
